* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Noto Sans', sans-serif;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    color: white;
}

input,
button {
    font-size: 16px;
}

header{
    font-weight: bold;
    height: 110px;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

nav li{
    list-style: none;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}
nav ul li{
    position: relative;
    list-style: none;
    
}
nav ul li a {
    position: relative;
    margin: 0 50px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

a:link {
    color: white
}
a:visited {
    color: white;
}
a:hover {
    color:#393e46;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.description{
    padding-top: 15%;
    text-align: center;
}

.search_section {
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.search_section > h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 20px;
}

.search_section > form > button {
    background: #222831;
    border-radius: 20px;
    border: #222831 2px;
    padding: 3px 6px;
    cursor: pointer;
}
.iki {
    display: inline-block;
    background: #ffd369;
    font-weight: bold;
    padding: 4px;
    color: #222831;
    border-radius: 20px;
    border: #a9a9a9 1px solid;
}

.iki:hover {
    cursor: pointer;
    background: #6395ed;
}

.iki2 {
    display: inline-block;
    background: #222831;
    padding: 4px 7px;
    color: #ffffff;
    border: #222831 2px;
    border-radius: 20px;
}

.iki2:hover {
    cursor: pointer;
    background: #c02739;
}

.iki3 {
    display: inline-block;
    font-weight: bold;
    padding: 4px;
    border: white 2px solid;
    border-radius: 20px;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 2px solid white;
    border-radius: 15px;
}

.input_section > h2 {
    text-align: center;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #ffd369;
    color: #222831;
    border: 0;
    border-radius: 20px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
}

.input_section > form > .input > label {
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    background-color: #222831;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 10px;
}

.book_shelf > svg {
    position: absolute;
    width: 60px;
    height: 70px;
    fill: white;
    right: 25%;
}

.book_shelf > svg:hover {
    fill: #c02739;
    cursor: pointer;
}

.book_shelf {
    margin: 40px 0;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(20, 35, 120, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
}

.book_shelf > h2 {
    color: white;
    text-align: center;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    background: rgba(34, 40, 49, 0.22);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 0.5px solid rgba(34, 40, 49, 0.08);
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 4px 8px;
    margin: 0 5px 0 0;
    border-radius: 7px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #519872;
    font-weight: bolder;
    color: #222831;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #c02739;
    font-weight: bold;
    color: #222831;
}



.table1 {
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10pt;
    color: #6e6e6e;
    border-collapse: collapse;
}

.table1,
th,
td {
    border: 1px solid #999;
    padding: 4px 8px;
}

.highlightx {
    background-color:#FFFF00; 
    color:#0000CC;
    font-weight:bold;
}

.div_cari {
    border: 3px solid #999;
    padding: 10px;
    border-radius: 15px;
}
